<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'freeboard/css/bootstrap.min.css' %}" media="screen">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>부자유 게시판</title>
</head>
<body>
    <header> 
        <div id="logo">
            <a href="http://127.0.0.1:8000/"><img src="{% static 'ghwfriends_logo.png' %}" alt="광혜원고등학교 신청곡 게시판 광고친구들 로고"/></a>
        </div>
        <nav>
            <ul id="topmenu">
                <li><a href="http://127.0.0.1:8000/requestboard">신청곡 게시판</a></li>
                <li><a href="http://127.0.0.1:8000/freeboard/">부자유 게시판</a></li>
                <li><a href="https://mail.google.com/chat/u/0/#chat/space/AAAASr9d5FM">학교 행사</a></li>
                <li><a href="https://docs.google.com/document/d/1T48ruB8A16MTT6I_icyzVEJRnEPoD1EIwGIYar-znU4/edit">만든 사람들</a></li>
            </ul>
        </nav>
    </header>
    <h3>부자유 게시판</h3>
    <br/>
    <!--{% if page_object.exists %}
        {% for p in page_object %}
            <h2><a href="{{ p.get_absolute_url }}">{{ p }}</a></h2>
        {% endfor %}
    {% else %}
        <h5>아직 게시물이 없습니다. </h5>
    {% endif %}-->

    <div class="title-list">
        {% if not page_object.object_list %}
            <h5>아직 게시물이 없습니다. </h5>
        {% else %}
            <!--<h5>게시물이 있습니다. </h5>-->
            {% for p in page_object %}
                <h5><a href="{{ p.get_absolute_url }}">{{ p }}</a></h5>
            {% endfor %}
        {% endif %}
    </div>
    


    <div class="pagination">
        <span class="step-links">
            <button class="page-button" id="first-page" onclick="pageButtonClickAction(1);">처음</button>
            {% if page_object.has_previous %}   
                <button class="page-button" id="prev-page" onclick="pageButtonClickAction('{{ page_object.previous_page_number }}');"><</button>
            {% else %}
                <button class="page-button" id="prev-page"><</button>
            {% endif %}
            
            {% for i in paginator.page_range %}
                <button class="page-button" id="{{ i }}" onclick="pageButtonClickAction(id);"><a href="?page={{ i }}">{{ i }}</a></button>
            {% endfor %}

            {% if page_object.has_next %}
                <button class="page-button" id="next-page" onclick="pageButtonClickAction('{{ page_object.next_page_number }}');">></button>
            {% else %}
                <button class="page-button" id="next-page">></button>
            {% endif %}
            <button class="page-button" id="last-page" onclick="pageButtonClickAction('{{ paginator.num_pages }}');">끝</button>
        </span>
    </div>

    
    <button onclick="location.href='http://127.0.0.1:8000/freeboard/write';">Write</button>

    
    <script>
        // 클릭 시 색 바꾸기
        var current_page = '{{ page_object.number }}';
        var elements = document.getElementsByClassName("page-button");
        for (var i = 0, length = elements.length; i < length; i++) {
            elements[i].style.backgroundColor = 'white';
        }
        
        document.getElementById(current_page).style.backgroundColor = 'yellow';
    </script>
    <script src="{% static 'freeboard/js/pagebuttonclickaction.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>