{% extends 'requestboard/base.html' %}
{% load static %}

{% block main_area %}
    <div id="board-title">
        <h2>신청곡 게시판</h2>
        <h6>광혜원고 등굣길에서 틀 음악을 신청할 수 있는 게시판입니다. </h6>
    </div>
    <div id="writebutton">
        <button id="post-write-btn" class="btn bg-color" onclick="writeGo()" style="background-color: #FCDB5F;">Write</button>
    </div>
    <br/> 

    <div id="title-list" class="container mb-5 bg-light" style="min-height: 250px; padding-top: 20px; padding-left: 20px;">
        {% if not page_object.object_list %}
            <h5>아직 게시물이 없습니다. </h5>
        {% else %}
            {% for p in page_object %}
                <h5><a href="{{ p.get_absolute_url }}">-  {{ p }}</a></h5>
                <hr/>
            {% endfor %}
        {% endif %}
    </div>
    


    <div class="pagination">
        <span class="step-links">
            <button class="page-button" id="first-page" onclick="pageButtonClickAction(1);">처음</button>
            {% if page_object.has_previous %}   
                <button class="page-button" id="prev-page" onclick="pageButtonClickAction('{{ page_object.previous_page_number }}');"><</button>
            {% else %}
                <button class="page-button" id="prev-page"><</button>
            {% endif %}
            
            {% for i in paginator.page_range %}
                <button class="page-button" id="{{ i }}" onclick="pageButtonClickAction(id);"><a href="?page={{ i }}">{{ i }}</a></button>
            {% endfor %}

            {% if page_object.has_next %}
                <button class="page-button" id="next-page" onclick="pageButtonClickAction('{{ page_object.next_page_number }}');">></button>
            {% else %}
                <button class="page-button" id="next-page">></button>
            {% endif %}
            <button class="page-button" id="last-page" onclick="pageButtonClickAction('{{ paginator.num_pages }}');">끝</button>
        </span>
    </div>


    <script>
        // 클릭 시 색 바꾸기
        var current_page = '{{ page_object.number }}';
        var elements = document.getElementsByClassName("page-button");
        for (var i = 0, length = elements.length; i < length; i++) {
            elements[i].style.backgroundColor = 'white';
        }
        
        document.getElementById(current_page).style.backgroundColor = '#FCDB5F';

        function writeGo() {
            location.href = "{% url 'request-write' %}";
        }
    </script>
    <script src="{% static 'requestboard/js/pagebuttonclickaction.js' %}"></script>


{% endblock %}