{% extends 'requestboard/base.html' %}
{% load static %}

{% block main_area %}

    <h4>신청곡 게시판</h4>

    <div class="mt-3 mb-5">
        <h2>{{ post.title }}</h2>
        <h6>{{ post.author }}, {{ post.created_date_time}}</h6>
        <hr/>
        <div id="post-contents" style="min-height: 220px">
            <p>{{ post.content }}</p>
        </div>
    </div>

    <div id="back-to-index-button" style="display: flex; justify-content: center;">
        <button class="btn bg-color" style="background-color: #FCDB5F;" onclick="gotoIndex()">목록으로</button>
    </div>
    
<script>
    function gotoIndex() {
        location.href = "{% url 'requestboard-list'%}";
    }
</script>

{% endblock %}