<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'requestboard/css/bootstrap.min.css' %}" media="screen">
    <title>글 작성 - 광고친구들</title>
</head>
<body>
    <header> 
        <div id="logo">
            <a href="{% url 'main' %}"><img src="{% static 'ghwfriends_logo.png' %}" alt="광혜원고등학교 신청곡 게시판 광고친구들 로고"/></a>
        </div>
        <nav>
            <ul id="topmenu">
                <li><a href="{% url 'requestboard-list' %}">신청곡 게시판</a></li>
                <li><a href="{% url 'freeboard-list' %}">부자유 게시판</a></li>
                <li><a href="https://mail.google.com/chat/u/0/#chat/space/AAAASr9d5FM">학교 행사</a></li>
                <li><a href="https://docs.google.com/document/d/1T48ruB8A16MTT6I_icyzVEJRnEPoD1EIwGIYar-znU4/edit">만든 사람들</a></li>
            </ul>
        </nav>
    </header>
    <h3>신청곡 게시판</h3>
    <h2>글 작성</h2>
    <form action="" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">저장</button>
    </form>
    
</body>
</html>