{% extends 'requestboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block main_area %}

    <h4>신청곡 게시판</h4>
    <h2>글 작성</h2>
    <div>
        <form action="" method="post">
            {{ form | crispy }}
            {% csrf_token %}
            <div class="mt-5" style="display: flex; justify-content: center;">
                <button type="submit" class="btn bg-color" style="background-color: #FCDB5F;">글쓰기</button>
            </div>
        </form> 
    </div>
    

    
{% endblock %}