body {
    margin: 0;
    font-family: Arial, sans-serif;
  }


#logo {
  padding-left: 60px;
  padding-right: 300px;
}

.nav-text {
  padding-right: 100px;
}

#mini-boards {
  display: flex;
  justify-content: center;
}


.mini-board {
  display: inline;
}

.minipost-titles {
  min-height: 100px;
}


.go-btn {
  background-color: #FCDB5F;
  text-align: center;
  padding: 16px 90px;
  margin: 10px 10px;
  border-color: #f5cb36;
  font-size: 25px;
  display: inline-block;
}

.go-btn:hover {
  background-color: #f5cb36;
}


.minipost-titles {
  margin: 5px 15px;
  text-align: left;
}


.slider-container {
    position: relative;
    width: 100%;
    max-width: 570px;
    margin: auto;
    overflow: hidden;
}


.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }


  .slide {
    min-width: 100%;
    box-sizing: border-box;
  }


  .slide img {
    width: 100%;
    height: auto;
  }


  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    color: black;
    background-color: transparent;
    border: none;
    padding: 10px;
    outline: none;
  }


  .prev { left: 10px; }
  .next { right: 10px; }



  body,
  html {
    overflow-x:hidden;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 1.5;
    color: #1c1b1b;
  }
  
  ul {
    padding: 0;
    margin: 0;
  }
  
  ul li {
    font-size: 17px;
    line-height: 1.59;
  }
  
  a { 
    text-decoration: none;
    color: #2f2f2f;  
  }

  a:link,
  a:visited {
    color: #2f2f2f;
  }
  
  a:hover {
    color: #0e0e0e;
    text-decoration: underline;
  }

  a:focus {
    outline: none;
    text-decoration: none;
  }

  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 0;
  }
  
  
  h1 {
    font-size: 38px;
  }
  
  h2 {  
    font-size: 32px; 
    line-height: 1.13; 
  }
  
  h3 {  
    font-size: 26px;  
  }
  
  h4 {  
    font-size: 22px;  
  }
  
  h5 {  
    font-size: 20px;  
  }
  
  h6 {  
    font-size: 18px;  
  }
  
  img {
    border: none;
    max-width: 100%;
  }

  #rights {
    color: #3e3e3e;
  }

  footer {
    background-color: #d1d1d1;
    margin-top: 100px;
    padding: 30px 70px 70px 70px;
    position:sticky;
    width:100%;
    bottom:0px;
  }

