{% extends 'mainpage/base.html' %}
{% load static %}


{% block main_area %}
        <div class="slider-container">
            <div class="slides">
                <!--<div class="slide"><img src="{% static 'event_1.jpeg' %}" alt="이미지 1"></div>-->
                <div class="slide"><img src="{% static 'event_2.jpeg' %}" alt="이미지 2"></div>
                <div class="slide"><img src="{% static 'event_3.jpeg' %}" alt="이미지 3"></div>
              <!-- 필요에 따라 이미지 경로 및 alt 속성을 변경하세요 -->
            </div>
            <div id="slider-buttons">
                <button class="prev" onclick="prevSlide()">&#10094;</button>
                <button class="next" onclick="nextSlide()">&#10095;</button>
            </div>
          </div>


        <div id="mini-boards" class="container mt-3">
          <div class="mini-board">
              <button id="requestboard" class="go-btn" onclick="gotoReqBoard()">신청곡 게시판 -> </button>
              <div class="minipost-titles">
                {% for p in requestboard_recent_five_posts %}
                    <h5><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></h4>
                {% endfor %}
              </div>
              
          </div>
          <div class="mini-board">
              <button id="freeboard" class="go-btn" onclick="gotoFreeBoard()">부자유 게시판 -> </button>
              <div class="minipost-titles">
                {% for p in freeboard_recent_five_posts %}
                    <h5><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></h4> 
                {% endfor %}
              </div>
          </div>
        </div>
        
{% endblock %}